body{
  font-family: arial;
  margin: 0;
  background-image:url(https://media.istockphoto.com/id/480288890/photo/it-background-hexadecimal-code-a01.jpg?s=1024x1024&w=is&k=20&c=R2-akiMC6dX0rs9isSxPCZDdPj98Pc2r-R2IdH-oY7E=);
  background-repeat: no-repeat;
  background-position: middle center;
  background-size: 150%;
}
#wrapper{
  width: 1000px;
  margin: 0 auto;
  background: #fff
}
#header img{
  width: 100%;
  height: 300px;
}


#navigation{
  padding: 5px;
}
#navigation ul{
  text-align: left;
  list-style-type: none;
  margin: 10px auto;
}
#navigation a{
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
    color: white;
}
#navigation li{
  background-color: #0f4b89;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #000000;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 10px;
}
#navigation li.current{
  background-color: #d5a052;
  color: #000000;
}
#navigation a:first-child{
  display: inline-block;
  margin-right: 100px;
  font-weight: bold;

}
#navigation a:nth-child(7){
  margin-left: 130px;
}
#navigation li:hover{
  background-color: #d5a052;
  color: #000000;
}
#navigation li:active{
  box-shadow: 1px 1px 2px 1px;
}

#about-us h2{
  letter-spacing: 4px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  padding: 1%;
  margin:30px 10% 0px 38%;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0px;
}
#about-us p{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 24px;
  margin: 0px 15px 30px 30px;
}
#contact-us h2{
  font-size: 28px;
  margin-left: 15px;
}
#contact-us h3{
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}
#contact-us p, #contact-us a{
  display: inline-block;
  margin: 0px 0px 10px 30px;
  line-height: 10px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#contact-us a{
  color: red;
  font-weight: bold;
}