body{
  font-family: arial;
  margin: 0;
  background-image:url(https://media.istockphoto.com/id/480288890/photo/it-background-hexadecimal-code-a01.jpg?s=1024x1024&w=is&k=20&c=R2-akiMC6dX0rs9isSxPCZDdPj98Pc2r-R2IdH-oY7E=);
  background-repeat: no-repeat;
  background-position: middle center;
  background-size: 200%;
}
#wrapper{
  width: 1000px;
  margin: 0 auto;
  background: #fff
}
#header img{
  width: 100%;
  height: 300px;
  margin-bottom: 0px;
}


#navigation{
  padding: 5px;
}
#navigation ul{
  text-align: left;
  list-style-type: none;
  margin: 10px auto;
}
#navigation a{
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
    color: white;
}
#navigation li{
  background-color: #0f4b89;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #000000;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 10px;
}
#navigation li.current{
  background-color: #d5a052;
  color: #000000;
}
#navigation a:first-child{
  display: inline-block;
  margin-right: 100px;
  font-weight: bold;

}
#navigation a:nth-child(7){
  margin-left: 130px;
}
#navigation li:hover{
  background-color: #d5a052;
  color: #000000;
}
#navigation li:active{
  box-shadow: 1px 1px 2px 1px;
}

#about-us h2{
  letter-spacing: 4px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  padding: 1%;
  margin:0px 10% 0px 38%;
  font-size: 40px;
  font-weight: bolder;
}
#about-us p{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 24px;
  margin: 0px 15px 30px 30px;
}
#contact-us h2{
  font-size: 28px;
  margin-left: 15px;
}
#contact-us h3{
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}
#contact-us p, #contact-us a{
  display: inline-block;
  margin: 0px 0px 10px 30px;
  line-height: 10px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#contact-us a{
  color: #0f4b89;
  font-weight: bold;
}
#contact-us a:hover{
  color: #d5a052;
}
#downloads a{
  text-decoration: none;
  color: black;
  list-style: none;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  display: inline-block;
  padding: 1%;
  border-radius: 19%;
  margin: 5px 25px 5px 25px;
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
box-shadow: 2px 2px 4px 2px #000000;
}
#downloads a:first-child{
  margin-left: 22%;
}
#downloads a:hover{
background: -moz-linear-gradient(top,  rgba(213,160,82,1) 0%, rgba(211,193,167,0) 100%);
background: -webkit-linear-gradient(top,  rgba(213,160,82,1) 0%,rgba(211,193,167,0) 100%); 
background: linear-gradient(to bottom,  rgba(213,160,82,1) 0%,rgba(211,193,167,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5a052', endColorstr='#00d3c1a7',GradientType=0 ); 
}
#downloads a:active{
  box-shadow: 1px 1px 2px 1px #000000;
}
#footer img{
  margin: 20px 50% 10px 47%;
  width: 5%;
}